### Documentation - FlightAware XML API
version 2.0
https://flightaware.com/commercial/flightxml/documentation2.rvt
    
version 3.0 (beta)
https://flightaware.com/commercial/flightxml/v3/documentation.rvt

'''
2018-11-30   v1.1  initial version
2018-12-01   v1.2  method AirportBoards added

'''

### import the FlightAware Python wrapper - FlightPy

In [17]:
from FlightPy import FlightAware
from datetime import datetime as dt
print FlightAware.__version__
print FlightAware.__date__

1.4
2018-12-02

### define an instance of FlightAware with your username and api key

In [2]:
#https://flightaware.com/commercial/flightxml/key
USERNAME = 'YOUR USERNAME'
APIKEY   = 'YOUR APIKEY'

FA = FlightAware(USERNAME,APIKEY)

200 OK

### airport info

In [3]:
airport = FA.AirportInfo('AMS')

print airport.name
print airport.airport_code

Amsterdam Schiphol
EHAM

### airline info

In [31]:
airline = FA.AirlineInfo('KLM')        

print airline.shortname
print airline.name
print airline.url

KLM
KLM Royal Dutch Airlines
https://www.klm.com/

### flightinfo is a list of flights

In [4]:
flightinfo = FA.FlightInfoStatus('TRA6685')

for flight in flightinfo:
    print flight.faFlightID

TRA6685-1543645561-airline-0046
TRA6685-1543386398-airline-0065
TRA6685-1543040760-airline-0014
TRA6685-1542780900-schedule-0000

In [5]:
flight.ADT

datetime.datetime(2018, 11, 23, 7, 34, 34)

In [6]:
print flight.ADT

2018-11-23 07:34:34

In [35]:
print flight.flightnumber

6685

In [36]:
print flight.origin
print flight.origin_code
print flight.origin_airport

{u'city': u'Eindhoven', u'code': u'EHEH', u'airport_name': u'Eindhoven', u'alternate_ident': u'EIN'}
EHEH
Eindhoven

In [37]:
print flight.destination
print flight.destination_code
print flight.destination_airport

{u'city': u'Innsbruck, Tyrol', u'code': u'LOWI', u'airport_name': u'Innsbruck (Kranebitten)', u'alternate_ident': u'INN'}
LOWI
Innsbruck (Kranebitten)

### distance between to lat-lon coordinates

In [8]:
#https://www.latlong.net/
#use mapquest.com to get lat-lon coordinates

amsterdam = (52.3545653,   4.7585403)
chicago   = (41.5122788, -87.6706629)

distance = FA.LatLongsToDistance(amsterdam,chicago)
print distance.miles
print distance.km

4125
6638.544

In [9]:
# routes between Amsterdam (AMS) and Chicago O'Hare (ORD)
routes = FA.RoutesBetweenAirports('AMS','ORD')

for route in routes:
    print route

SSM WYNDE8
TVC J548 PECOK PMM WYNDE8
TVC J548 PMM WYNDE8
GOPUP334023 HOCKE FNT WYNDE8
BERGI UL602 MIMVA L602 LEGRO L602 TLA GOMUP NATA AVUTI N706A YDP JOVIE YVO ODAXY WYNDE8
BERGI UL602 SUPUR UP1 GODOS M981 NATEB L602 TLA GOMUP NATA AVUTI N708A YDP N714A ROUND N714A SSM WYNDE8
NOTAP067010 ODAXY WYNDE8
5800N/02000W 5900N/03000W 5900N/04000W 5700N/05000W HOIST YWK GELLS SSM WYNDE8
BERGI UL602 SUPUR UP1 GODOS P1 ROKAN M982 SAB M982 FINDO ERAKA NATB SAVRY UDMAR N762A MCKEE SOCAN 500000N/0800000W SSM WYNDE8
6200N/03000W 6200N/04000W 6100N/05000W SAVRY N810 UDMAR YFM GRAMP LORNE SSM WYNDE8
5900N/02000W 5900N/03000W 5900N/04000W 5900N/05000W BOKTO N676A DUVBI MT ALMOP ODAXY WYNDE8
BERGI UL602 MIMVA L602 OKAMA L602 GOW GOMUP NATB CUDDY YDP TEALS MEMSO VETRO SSM WYNDE8
6200N/03000W 6100N/04000W 6000N/05000W URTAK N760A VANSI 5000N/07900W SSM WYNDE8
5900N/02000W 5900N/03000W 5900N/04000W 5800N/05000W CUDDY YDP 5500N/07000W VETRO SSM WYNDE8
BERGI UL602 MIMVA L602 NALAX L46 REMSI APSOV SUNOT NATB URTAK N756A LOMTA 550000N/0700000W MEMSO VETRO SSM WYNDE8

In [10]:
print route.route_distance

6769 km

In [11]:
print route.last_departuretime

2018-11-20 11:10:00

### airport boards

In [12]:
airportboards  = FA.AirportBoards('AMS')

In [13]:
for flight in airportboards.arrivals:
    print flight

BA  426   20:03 London, England           20:44 Amsterdam
KL  1934  19:33 Geneva                    20:43 Amsterdam
U2  7940  19:16 Milan                     20:41 Amsterdam
KL  1150  19:11 Oslo                      20:39 Amsterdam
KL  1964  19:23 Zurich                    20:38 Amsterdam
VY  6814  18:45 Florence (Firenze)        20:35 Amsterdam
U2  7011  19:44 Liverpool, England        20:34 Amsterdam
KL  1478  19:26 Glasgow, Scotland         20:32 Amsterdam
U2  8881  19:48 London, England           20:31 Amsterdam
HV  5564  18:49 Katowice                  20:28 Amsterdam
DS  1357  19:04 Geneva                    20:26 Amsterdam
U2  4567  19:21 Berlin                    20:25 Amsterdam
BA  2764  19:43 London, England           20:23 Amsterdam
U2  1835  19:34 Manchester, England       20:21 Amsterdam
HV  6602  19:00 Innsbruck, Tyrol          20:17 Amsterdam

In [14]:
for flight in airportboards.departures:
    print flight

AF  1441  20:46 Amsterdam                 01:00 Paris
KL  1177  20:45 Amsterdam                 01:00 Stjordal, Nord
KL  1991  20:44 Amsterdam                 01:00 Basel
RO  364   20:42 Amsterdam                 01:00 Bucharest
KL  1033  20:42 Amsterdam                 01:00 London, England
KL  1689  20:41 Amsterdam                 01:00 Bilbao / Bilbo, Viscaya
KL  1171  20:40 Amsterdam                 01:00 Vantaa
EI  845   20:39 Amsterdam                 01:00 Cork
KL  1211  20:38 Amsterdam                 01:00 Kristiansand, Vest
AF  1893  20:37 Amsterdam                 01:00 Nantes
EI  611   20:35 Amsterdam                 01:00 Dublin
U2  2170  20:33 Amsterdam                 01:00 London, England
EY  78    20:32 Amsterdam                 01:00 Abu Dhabi
LX  735   20:29 Amsterdam                 01:00 Zurich
JP  499   20:21 Amsterdam                 01:00 Ljubljana

In [15]:
weather = FA.WeatherConditions('EIN')

In [18]:
for item in weather:
    print str(dt.fromtimestamp(item.time)), item.temp_air, item.wind_speed, item.wind_direction

2018-12-02 20:25:00 13 11 220
2018-12-02 20:16:00 13 11 220
2018-12-02 20:12:00 13 11 220
2018-12-02 19:55:00 13 8 230
2018-12-02 19:25:00 14 12 240
2018-12-02 19:17:00 14 13 240
2018-12-02 19:13:00 14 13 240
2018-12-02 19:04:00 13 12 240
2018-12-02 18:56:00 14 11 240
2018-12-02 18:55:00 13 10 240
2018-12-02 18:38:00 13 10 230
2018-12-02 18:33:00 13 9 230
2018-12-02 18:25:00 13 10 240
2018-12-02 18:14:00 13 11 230
2018-12-02 18:03:00 13 12 240

In [20]:
item.__dict__

{u'airport_code': u'EHEH',
 u'cloud_friendly': u'Scattered clouds',
 u'clouds': [{u'altitude': 1300, u'symbol': u'FEW013', u'type': u'FEW'},
  {u'altitude': 1500, u'symbol': u'BKN015', u'type': u'BKN'},
  {u'altitude': 2200, u'symbol': u'BKN022', u'type': u'BKN'}],
 u'conditions': u'',
 u'pressure': 1000,
 u'pressure_units': u'mb',
 u'raw_data': u'EHEH 021703Z AUTO 24012KT 210V280 9999 FEW013 BKN015 BKN022 13/12 Q1000 WHT 23012G22KT 9999 FEW007 BKN015 BKN025 TEMPO -DZRA SCT007 SCT010 BKN015',
 u'temp_air': 13,
 u'temp_dewpoint': 12,
 u'temp_perceived': u'13',
 u'temp_relhum': 94,
 u'time': 1543770180,
 u'visibility': 9999,
 u'visibility_units': u'meters',
 u'wind_direction': 240,
 u'wind_friendly': u'Windy',
 u'wind_speed': 12,
 u'wind_speed_gust': 0,
 u'wind_units': u'KT'}